.gg-icon-tap-hover {
  opacity: 0.8;
}

.custom-tabbar-placeholder {
  @include ios-safe-bottom;

  &::before {
    content: '';
    display: block;
    height: 120rpx;
  }
}

.button-reset {
  appearance: none;
  background: none;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  border: none;
  padding: 0;
  margin: 0;
  &::after {
    content: unset;
    border: none;
  }
}
